@page "/providers"

<Container Fluid="true" Style="position:relative;">
    <AuthJanitor.UI.Components.BreadcrumbRow Category="System"
                                             PageGroup="Providers" />

    <Row>
        <Column Padding="Padding.Is0">
            <BlazorTable.Table TableItem="LoadedProviderViewModel"
                               TableClass="table table-striped table-hover"
                               @bind-Items="@ProviderList"
                               PageSize="20">

                <BlazorTable.Column TableItem="LoadedProviderViewModel"
                                    Title="Name" Field="@(x => x.Details.Name)"
                                    Sortable="true" Filterable="true">
                    <Template>
                        <span class="float-left mr-2" style="width:1em;">
                            @((MarkupString)context.SvgImage)
                        </span>
                        @context.Details.Name
                    </Template>
                </BlazorTable.Column>

                <BlazorTable.Column TableItem="LoadedProviderViewModel"
                                    Title="Description" Field="@(x => x.Details.Description)" />

                <BlazorTable.Column TableItem="LoadedProviderViewModel"
                                    Title="Version" Field="@(x => x.AssemblyVersion)"
                                    Sortable="true" Filterable="true" />

                <BlazorTable.Column TableItem="LoadedProviderViewModel"
                                    Title="Features" Field="@(x => x.Details.Features)">
                    <Template>
                        <Icon Name="FontAwesomeIcons.Flask"
                              Class="@(context.Details.Features.HasFlag(ProviderFeatureFlags.IsTestable) ? "text-success" : "text-dark")"
                              title="@("Provider " + (context.Details.Features.HasFlag(ProviderFeatureFlags.IsTestable) ? "Supports" : "Does Not Support") + " Pre-Testing")"
                              Margin="Margin.Is2" />
                        <Icon Name="FontAwesomeIcons.SyncAlt"
                              Class="@(context.Details.Features.HasFlag(ProviderFeatureFlags.CanRotateWithoutDowntime) ? "text-success" : "text-dark")"
                              title="@("Provider " + (context.Details.Features.HasFlag(ProviderFeatureFlags.CanRotateWithoutDowntime) ? "Can" : "Cannot") + " Rotate Without Downtime")"
                              Margin="Margin.Is2" />
                        <Icon Name="FontAwesomeIcons.LayerGroup"
                              Class="@(context.Details.Features.HasFlag(ProviderFeatureFlags.HasCandidateSelection) ? "text-success" : "text-dark")"
                              title="@("Provider " + (context.Details.Features.HasFlag(ProviderFeatureFlags.HasCandidateSelection) ? "Supports" : "Does Not Support") + " Candidate Selection")"
                              Margin="Margin.Is2" />
                        <Icon Name="FontAwesomeIcons.Key"
                              Class="@(context.Details.Features.HasFlag(ProviderFeatureFlags.SupportsSecondaryKey) ? "text-success" : "text-dark")"
                              title="@("Provider " + (context.Details.Features.HasFlag(ProviderFeatureFlags.SupportsSecondaryKey) ? "Supports" : "Does Not Support") + " Use of a Secondary Key")"
                              Margin="Margin.Is2" />
                    </Template>
                </BlazorTable.Column>

                <!-- Pager -->
                <BlazorTable.Pager ShowPageSizes="true" ShowPageNumber="true" ShowTotalCount="true" />
            </BlazorTable.Table>
        </Column>
    </Row>

    <AuthJanitor.UI.Components.HelpSlideInComponent Title="Providers"
                                                    Icon="@FontAwesomeIcons.Plug">
        <Paragraph>
            A <strong>Provider</strong> is a software library for AuthJanitor which implements the logic necessary to either rekey
            a service or object, or consume a secret or key to facilitate the operation of an application.
        </Paragraph>
        <Paragraph>
            <strong>Providers</strong> each have their own set of distinct configuration options based on the needs of the service.
        </Paragraph>
    </AuthJanitor.UI.Components.HelpSlideInComponent>
</Container>

<SystemWideFooter RefreshDataClicked="@(() => LoadData())" />

@using AuthJanitor.UI.Shared.ViewModels;
@code {
    protected IEnumerable<LoadedProviderViewModel> ProviderList { get; set; } = new List<LoadedProviderViewModel>();

    protected override async Task OnInitializedAsync() => await LoadData();

    protected async Task LoadData()
    {
        ProviderList = await Http.AJList<LoadedProviderViewModel>();
    }
}
