<Button Clicked="@ButtonClicked" Color="@ButtonColor" title="@LastMessage" Margin="Margin.Is1">
    <span class="fa-layers fa-fw mr-3">
        <span class="@IsCollapsed">
            <i class="fa fa-spinner fa-inverse fa-pulse fa-2x"></i>
        </span>
        <i class="@Icon" data-fa-transform="shrink-3 right-6"></i>
    </span> @Text
</Button>

@using System.Text.Json 
@code {
    [Parameter]
    public TestAsContexts Context { get; set; }

    [Parameter]
    public string ProviderType { get; set; }

    [Parameter]
    public ProviderConfigurationViewModel ProviderConfiguration { get; set; }

    [Parameter]
    public Color DefaultColor { get; set; } = Color.Secondary;

    protected Color ButtonColor { get; set; }
    protected string IsCollapsed { get; set; } = "collapse";
    protected string LastMessage { get; set; } = string.Empty;

    protected string Icon => Context switch
    {
        TestAsContexts.AsApp => "fa fa-robot",
        TestAsContexts.AsUser => "fa fa-user",
        _ => "fa fa-question"
    };

    protected string Text => Context switch
    {
        TestAsContexts.AsApp => "Test as App",
        TestAsContexts.AsUser => "Test as User",
        _ => "?? Context ??"
    };

    protected async Task ButtonClicked()
    {
        IsCollapsed = string.Empty;
        ButtonColor = Color.Warning;

        StateHasChanged();

        try
        {
            var result = await Http.PostAsync($"{Http.BaseAddress}/providers/{ProviderType}/test/{Context.ToString()}",
                new System.Net.Http.StringContent(ProviderConfiguration.SerializedConfiguration));
            if (result.IsSuccessStatusCode)
            {
                LastMessage = "Success!";
                ButtonColor = Color.Success;
            }
            else
            {
                var messageStructure = JsonSerializer.Deserialize<Dictionary<string, string>>(
                    await result.Content.ReadAsStringAsync());
                LastMessage = messageStructure["Message"];
                ButtonColor = Color.Danger;
            }
        }
        catch (Exception ex)
        {
            LastMessage = ex.Message;
            ButtonColor = Color.Danger;
        }

        IsCollapsed = "collapse";
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        ButtonColor = DefaultColor;
    }
}
